
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="recargar()">
    <ion-icon name="refresh-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <h1>Mis Autos</h1>
  <ion-list *ngFor="let aux of autos">
    <ion-card *ngIf="aux.dueno == rut">
     <p>{{aux.patente}}</p>
     <p>{{aux.marca}}</p>
     <p>{{aux.color}}</p>
     <p>{{aux.capasidad}}</p>
     <ion-button color="danger" (click)="eliminar(aux.patente)">Eliminar</ion-button>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="masautos()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
