.fondo{
   
    height: 100vh;
    background: linear-gradient(to bottom right,rgb(255, 255, 255),rgb(27, 170, 115), rgb(17, 82, 57),rgb(2, 39, 14))
}
    
ion-card{
    --background:none;
    width: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-item{
        --background:none;
    }
    ion-radio-group{
        background-color: aquamarine;
    }
    ion-list{
        background-color: aqua;
        background: none;
    }
   

}

@media(max-width: 430px){
    .fondo{
        ion-card{
            width: 40vh;
            
        }
    }
}

