

<ion-content class="fondo">
  <div *ngIf="viaje!=undefined" id="contenedormapa">
    <div id="map1"></div>
  </div>
  <div id="carta">
    <ion-card *ngIf="usuario.viaje != ''">
      <ion-card-header>
        <ion-card-title>Conductor: {{viaje.nombre}}   Auto: {{viaje.auto}}</ion-card-title>
        <ion-card-subtitle>Codigo de viaje: {{viaje.cod}}</ion-card-subtitle>
        <ion-card-subtitle>Rut conductor: {{viaje.conductor}}</ion-card-subtitle>
        <ion-card-subtitle>Destino: {{viaje.fin}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let aux of viaje.pasajeros">
        <p>pasajero: {{aux.nombre}} rut:{{aux.rut}}</p>
        <p>Estado:</p>
        <ion-button color="success" *ngIf="aux.pagado == true">Pagado
        <ion-icon name="thumbs-up-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" *ngIf="aux.pagado == false">No pagado
          <ion-icon name="thumbs-down-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-card-content>
        <ion-button *ngIf="viaje.estado == 'espera'" (click)="empezar()">partir viaje</ion-button>
        <ion-button *ngIf="pasejerosviaje == 0" (click)="terminar()">Terminar Viaje</ion-button>
    </ion-card>
</div>
<ion-card *ngIf="viaje==undefined" style="height: 35%">
  <ion-card-header>
    <ion-card-title>No presentas viajes, oprime el botón más para agregar un viaje</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button (click)="masviaje()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>
</ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="recargar()">
      <ion-icon name="refresh-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
